
.container {
	margin-top: 20px;
}


.list-group-item {
  height: 40px;
  font-weight: bold
}


ul {

}

.row-clickable, .item-clickable {
	cursor: pointer
}
a {
    color: #428BCA;
    text-decoration: none;
}

/*a:hover, a:focus {
    color: #2A6496;
    text-decoration: underline;
}*/
new-user-input {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 30px;
}

new-user-input > input {
  margin-top: 20px;
}



