<form name="userForm" novalidate>
<input type="" name="fullName" placeholder="Full name" ng-model="$ctrl.user.fullName">
<input type="email" name="email" placeholder="email" ng-model="$ctrl.user.email">
<input type="date" name="birthdate" ng-model="$ctrl.user.birthdate"><br>
Gender: 
<input type="radio" name="gender" value="male" ng-model="$ctrl.user.gender">male
<input type="radio" name="gender" value="female" ng-model="$ctrl.user.gender">female<br>
<input type="text" name="address" ng-model="$ctrl.user.address">
	
</form>